$gray_5: #dfe2e8;


body{
    background-color: #DFE2E8;
    color: #504F5E;
}

.app-container{
    background-color: #fff;
    max-width: 580px;
    border-radius: 4px;
    margin-top: 16px;
    padding: 40px;
}

.list{
    padding: 0;
    margin: 0;

    li{
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $gray_5;
    }   
}